# GCP Credentials - path to your ADC JSON file
GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json

# Backend
TERRAMORPH_ENV=development
TERRAMORPH_LOG_LEVEL=debug
CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8001/api/v1
