module "{{ resource.terraform_resource_name }}" {
  source  = "terraform-google-modules/log-export/google"
  version = "~> 8.0"

  destination_uri = "{{ attrs.destination }}"
  log_sink_name   = "{{ resource.name }}"
  parent_resource_id   = "{{ resource.project }}"
  parent_resource_type = "project"

{% if attrs.filter %}
  filter = "{{ attrs.filter }}"
{% endif %}

  unique_writer_identity = true
}
