module "{{ resource.terraform_resource_name }}" {
  source  = "terraform-google-modules/pubsub/google"
  version = "~> 6.0"

  project_id = "{{ resource.project }}"
  topic      = "{{ resource.name }}"

{% if attrs.message_retention_duration %}
  message_retention_duration = "{{ attrs.message_retention_duration }}"
{% endif %}

{% if attrs.labels %}
  topic_labels = {
{% for key, value in attrs.labels.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}

  pull_subscriptions = []
  push_subscriptions = []
}
