module "{{ resource.terraform_resource_name }}" {
  source  = "terraform-google-modules/service-accounts/google"
  version = "~> 4.0"

  project_id   = "{{ resource.project }}"
  names        = ["{{ attrs.account_id }}"]
  display_name = "{{ attrs.display_name }}"
{% if attrs.description %}
  description  = "{{ attrs.description }}"
{% endif %}
}
