resource "aws_cloudfront_distribution" "{{ resource.terraform_resource_name }}" {
  enabled = {{ attrs.enabled | lower }}
{% if attrs.comment %}
  comment = "{{ attrs.comment }}"
{% endif %}

  default_cache_behavior {
    allowed_methods  = ["GET", "HEAD"]
    cached_methods   = ["GET", "HEAD"]
    target_origin_id = "default"

    forwarded_values {
      query_string = false
      cookies {
        forward = "none"
      }
    }

    viewer_protocol_policy = "redirect-to-https"
  }

  origin {
    domain_name = "placeholder.s3.amazonaws.com"
    origin_id   = "default"
  }

  restrictions {
    geo_restriction {
      restriction_type = "none"
    }
  }

  viewer_certificate {
    cloudfront_default_certificate = true
  }
}
