resource "aws_lb" "{{ resource.terraform_resource_name }}" {
  name               = "{{ attrs.name }}"
  internal           = {{ (attrs.scheme == "internal") | lower }}
  load_balancer_type = "{{ attrs.type }}"

{% if attrs.vpc_id %}
  # vpc_id: {{ attrs.vpc_id }}
{% endif %}
}
