resource "aws_route53_zone" "{{ resource.terraform_resource_name }}" {
  name = "{{ attrs.name }}"

{% if attrs.private_zone %}
  vpc {
    vpc_id = ""
  }
{% endif %}
{% if attrs.tags %}

  tags = {
{% for key, value in attrs.tags.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}
