resource "aws_secretsmanager_secret" "{{ resource.terraform_resource_name }}" {
  name = "{{ attrs.name }}"
{% if attrs.description %}
  description = "{{ attrs.description }}"
{% endif %}
{% if attrs.kms_key_id %}
  kms_key_id  = "{{ attrs.kms_key_id }}"
{% endif %}
}
