resource "aws_sqs_queue" "{{ resource.terraform_resource_name }}" {
  name                       = "{{ attrs.name }}"
  delay_seconds              = {{ attrs.delay_seconds }}
  max_message_size           = {{ attrs.max_message_size }}
  visibility_timeout_seconds = {{ attrs.visibility_timeout }}
{% if attrs.fifo_queue %}
  fifo_queue                 = true
{% endif %}
{% if attrs.tags %}

  tags = {
{% for key, value in attrs.tags.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}
