resource "google_artifact_registry_repository" "{{ resource.terraform_resource_name }}" {
  project       = "{{ resource.project }}"
  location      = "{{ attrs.location }}"
  repository_id = "{{ attrs.repository_id }}"
  format        = "{{ attrs.format }}"
{% if attrs.description %}
  description   = "{{ attrs.description }}"
{% endif %}
{% if attrs.mode != "STANDARD_REPOSITORY" %}
  mode          = "{{ attrs.mode }}"
{% endif %}

{% if attrs.labels %}
  labels = {
{% for key, value in attrs.labels.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}
