resource "google_secret_manager_secret" "{{ resource.terraform_resource_name }}" {
  project   = "{{ resource.project }}"
  secret_id = "{{ attrs.secret_id }}"

  replication {
{% if attrs.replication_type == "automatic" %}
    auto {}
{% else %}
    user_managed {
      replicas {
        location = "us-central1"
      }
    }
{% endif %}
  }

{% if attrs.labels %}
  labels = {
{% for key, value in attrs.labels.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}
