resource "google_service_account" "{{ resource.terraform_resource_name }}" {
  project      = "{{ resource.project }}"
  account_id   = "{{ attrs.account_id }}"
  display_name = "{{ attrs.display_name }}"
{% if attrs.description %}
  description  = "{{ attrs.description }}"
{% endif %}
{% if attrs.disabled %}
  disabled     = true
{% endif %}
}
